:root {
  --color-primary: #FFFFFF;
  --color-bg: #343D4B;
  --color-primary-inverted: #000000;
  --color-bg-card: #272E37;
  --color-bg-main: #222831;

  --gradient: linear-gradient(91deg, rgba(144, 217, 224, 0.9) 0.2%, rgba(84, 96, 230, 0.9) 100%);
  --gradient-inverted: linear-gradient(256deg, rgba(144, 217, 224, 0.9) 9%, rgba(84, 96, 230, 0.9) 92.2%);

  --font: "Montserrat", sans-serif;
}

body {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    min-height: 100vh;
    
    display: grid;
    place-items: center;

    font-family: var(--font);

    color: var(--color-primary);
    background-color: var(--color-bg);
}